*{
    margin: 0px;
    padding: 0px;
}
.main-section{
    background-image: url(img/billboard.jpg);
    height: 84vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.section1{
    display: flex;
    justify-content: space-between;
    background-color: white;
    opacity: 0.9;
}
.navbar-top ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:30px;
    font-size: 20px;
    padding: 40px 20px;
}
.part2{
    padding: 20px;
    position: relative;
    top: 439px;
}
.space-top{
    margin-top: 40px;
}
button{
    background-color: rgb(0, 179, 255);
    border-color: rgb(0, 179, 255);
    padding: 5px;
    width: 200px;
}
.flex-container{
    display: flex;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.flex-item{
    padding: 50px;
}
h2 {
    text-align: center;
}
.flex-container1{
    display: flex;
    
}
.re-size{
    height: 350px;
    width: 300px;
}
.re-size2{
    border-radius: 50px;
}
.flex-container2{
    display: flex;
    background-color: black;
}
.flex-item2{
    text-align: left;
    color: white;
    padding: 100px;
    
}
.footer-top{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 69px;
    color: white;
    background-color: gray;
    opacity: 0.5;
    padding: 20px;
    width: 100%;
}
.bottom{
    text-align: center;
    position: relative;
    color: white;
    bottom: 100px;
}
